* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--main-font);
}
::-webkit-scrollbar {
    background-color: #333;
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(
        to right,
        oklch(0.546 0.245 262.881),
        oklch(0.558 0.288 302.321)
    );
    border-radius: 180px;
}
::-webkit-scrollbar:hover {
    width: 15px;
}
html {
    scroll-behavior: smooth;
    scroll-padding: 60px;
}
:root {
    --main-background-color: #000;
    --main-text-color: #fff;
    --main-gray: gray;
    --main-border: 1px solid rgba(128, 128, 128, 0.352);
    --main-radius: 10px;
    --main-gradient: linear-gradient(
        to right,
        oklch(0.546 0.245 262.881),
        oklch(0.558 0.288 302.321)
    );
    --main-gradient-blue: linear-gradient(
        to right,
        darkblue,
        oklch(0.558 0.288 302.321)
    );
    --main-bg-dark: #131212;
    --main-bg-darker: #181818;
    --main-bg-gray: #262626;
    --main-green: #4caf50;
    --main-yellow: #ffc107;
    --main-blue: #2b7fff;
    --main-purple: #ad46ff;
    --main-orange: #fe9a00;
    --main-red: #ff2056;
    --main-linkedin-bg: #1c398e;
    --main-github-bg: #1e2939;
    --main-location-bg: #59168b;
    --main-location-color: #9810fa;
    --main-phone-bg: #0d542b;
    --main-phone-color: #029c3b;
    --main-edu-green: #00c950;
    --main-footer-padding: 30px;
    --main-padding: 25px;
    --main-font: Arial, Helvetica, sans-serif;
}
body {
    background-color: var(--main-bg-dark);
    color: var(--main-text-color);
}
.section-title {
    margin: 50px auto;
    width: fit-content;
    font-size: 31.5px;
    font-weight: 700;
    background-image: var(--main-gradient);
    background-clip: text;
    color: transparent;
    position: relative;
}
.section-title::after {
    content: "";
    position: absolute;
    height: 5px;
    width: 95px;
    background-image: var(--main-gradient);
    bottom: -15px;
    right: 50%;
    translate: 50% 0;
    border-radius: var(--main-radius);
}
/* start header ====================================*/
.header {
    background-color: var(--main-background-color);
    padding: var(--main-padding);
    position: fixed;
    width: 100%;
    text-align: center;
    color: var(--main-text-color);
    border-bottom: 1px solid var(--main-gray);
    z-index: 11;
}
.header a {
    text-decoration: none;
    margin-left: 20px;
    color: var(--main-gray);
    font-size: 19px;
}
.header a:hover {
    color: var(--main-text-color);
}
.header h3 {
    display: inline-block;
    font-size: 1.35rem;
    background-image: var(--main-gradient);
    background-clip: text;
    color: transparent;
    padding-right: 3.6em;
    font-weight: 600;
    translate: 0 2px;
}
/* end header ===================================================*/
/* start head */
.head {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-image: url(back.png);
    background-size: cover;
    background-position: center;
    color: var(--main-text-color);
}
.head h1 {
    background: linear-gradient(
        to right,
        var(--main-text-color),
        oklch(0.546 0.245 262.881) 1%,
        oklch(0.827 0.119 306.383)
    );
    background-clip: text;
    color: transparent;
    font-size: 3rem;
    line-height: 1;
}

.head .image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url(me.png);
    background-size: cover;
    margin-bottom: 10px;
    margin-top: 130px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sup-text {
    width: 90%;
    color: var(--main-gray);
    font-size: 21px;
    margin-bottom: 29px;
    margin-top: -20px;
}
.head .container p {
    width: 80%;
    font-size: 18px;
    color: var(--main-gray);
    margin-bottom: 40px;
}
.head .container p span:first-child {
    color: var(--main-green);
}
.head .container p span:last-child {
    color: var(--main-yellow);
}
.btns {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}
.btns a {
    text-decoration: none;
    margin-right: 15px;
    background-image: var(--main-gradient);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: var(--main-radius);
    width: 160px;
    color: var(--main-text-color);
    transition: 0.3s;
}
.btns a:hover {
    scale: 1.1;
    box-shadow: 0 0 10px var(--main-gray);
}
.btns a i {
    padding-right: 25px;
}
.btns a:first-child {
    background-color: transparent;
    background-image: none;
    border: 2px solid var(--main-gray);
}
.btns a:last-child {
    background-color: transparent;
    background-image: none;
    border: 2px solid rgb(69, 64, 64);
}
.fa-arrow-down {
    margin-top: 50px;
    color: var(--main-text-color);
}
/* end head ================================================*/
/* start about */
.about {
    background-color: rgb(19, 18, 18);
    color: var(--main-text-color);
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}
.about .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about .text {
    width: 80%;
    max-width: 800px;
    padding: 28px;
    background-color: var(--main-background-color);
    border: var(--main-border);
    border-radius: 13px;
    font-size: 16.75px;
    color: var(--main-gray);
    line-height: 1.4;
}
.about .text .min-info {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 15px;
    text-align: center;
    color: var(--main-text-color);
    font-size: 24px;
    gap: 10%;
}
.about .text span {
    color: var(--main-text-color);
}
.about .text .min-info p {
    color: var(--main-gray);
    font-size: 15px;
    margin-top: 9px;
}
/* end about ===============================================*/
/* start Experience ===============================================*/
.Experience {
    display: flex;
    justify-content: center;
    background-color: var(--main-background-color);
}
.Experience .Experience-content {
    padding: 35px;
}
.Experience .Experience-content h4 {
    font-size: 20px;
}
.Experience .Experience-content h4 + p {
    font-size: 15.75px;
    padding-left: 2px;
}
.Experience .Experience-content h4 + p .fa-location-dot {
    color: gray;
}
.Experience .Experience-content .box {
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    padding: 30px;
    line-height: 1.8;
    border-radius: var(--main-radius);
    border: var(--main-border);
    border-left: 5px solid var(--main-blue);
    max-width: 800px;
}
.Experience .Experience-content .box i {
    color: var(--main-blue);
}
.Experience .Experience-content .min-intro {
    line-height: 1.3;
    margin-top: 7px;
    margin-bottom: 7px;
    color: var(--main-gray);
}
.Experience .Experience-content ul li::marker {
    color: var(--main-blue);
    font-size: 25px;
}
.Experience .Experience-content ul li {
    margin-left: 30px;
}
.Experience .Experience-content .min-skills {
    margin-top: 15px;
}
.Experience .Experience-content .min-skills span {
    display: inline-block;
    font-size: 15px;
    margin: 4px;
    background-color: var(--main-bg-gray);
    padding: 3px;
    width: 70px;
    border-radius: 15px;
    text-align: center;
    transition: 0.3s;
}
.Experience .Experience-content .min-skills span:hover {
    translate: 0 -20px;
    scale: 1.1;
}
/* end Experience ===============================================*/
/* start Featured Projects ===============================================*/
.Featured-Projects {
    background-color: var(--main-bg-dark);
    padding-top: 40px;
}
.Featured-box {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding: clamp(5px, 10px, 100px);
    flex-wrap: wrap;
}

.Featured-Projects-content {
    width: 100%;
}
.Featured-box .card {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--main-background-color);
    height: clamp(376px, 390px, 700px);
    width: clamp(336px, 380px, 600px);
    border-radius: 15px;
    transition: 0.3s;
}
.Featured-box .card div:first-child {
    display: flex;
    align-items: center;
}
.Featured-box .card div:first-child i {
    padding-right: 15px;
}
.Featured-box .card .fa-heart {
    color: red;
}
.Featured-box .card .fa-briefcase {
    color: var(--main-blue);
}
.Featured-box .card .fa-user {
    color: green;
}
.Featured-box .card div:first-child + span {
    font-size: 17.5px;
}
.Featured-box .card p {
    color: var(--main-gray);
    line-height: 1.5;
}
.card .req-skills span {
    display: inline-block;
    background-color: var(--main-bg-gray);
    padding: 3.9px 9px;
    font-size: 10.5px;
    border-radius: 10px;
    margin-bottom: 7px;
    transition: 0.3s;
    cursor: help;
}
.card .link {
    margin: 0 auto;
    display: flex;
    gap: 30px;
}
.card .link a {
    background-color: var(--main-bg-darker);
    padding: 10px 35px;
    height: 35px;
    border: var(--main-border);
    border-radius: 9px;
    display: flex;
    text-decoration: none;
    color: var(--main-text-color);
    align-items: center;
}
.card .link a i {
    padding-right: 25px;
}
.card .link a:hover i {
    padding-right: 25px;
    animation: BomBom 2s linear infinite;
}
.Featured-box .card:hover {
    translate: 0 -20px;
}
.card .req-skills span:hover {
    rotate: 5deg;
}
@keyframes BomBom {
    25% {
        scale: 1.2;
    }
    50% {
        scale: 1;
    }
    75% {
        scale: 1.2;
    }
    100% {
        scale: 1;
    }
}
/* end Featured Projects ===============================================*/
.Technical-Skills {
    background-color: var(--main-background-color);
    padding-top: 15px;
    padding-bottom: 40px;
}
.Technical-Skills-content {
    max-width: 100%;
}
.grid-space {
    display: grid;
    padding: clamp(10px, 20px, 200px);
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    max-width: calc(3 * 270px + 2 * 20px);
    margin: 0 auto;
}
.grid-space .xp {
    border: var(--main-border);
    border-radius: 15px;
    padding: 15px;
}
.grid-space .xp p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 35px;
}
.grid-space .xp span {
    display: inline-block;
    background-color: var(--main-bg-gray);
    padding: 3.9px 9px;
    font-size: 10.5px;
    border-radius: 10px;
    margin-bottom: 7px;
    transition: 0.3s;
    align-self: flex-end;
}
.grid-space .xp:last-child {
    grid-column: 1 / -1;
    padding: 20px;
    text-align: center;
    background-image: var(--main-gradient-blue);
    border: 2px solid var(--main-background-color);
    max-width: 100%;
}
.grid-space .xp:last-child span {
    margin-right: 5px;
}
.grid-space .xp i {
    padding-right: 25px;
}
.grid-space .xp:last-child p {
    display: block;
    font-weight: bold;
    font-weight: 600;
}
.fa-code {
    color: var(--main-blue);
}
.fa-globe {
    color: var(--main-green);
}
.fa-database {
    color: var(--main-purple);
}
.fa-wrench {
    color: var(--main-orange);
}
.fa-brain {
    color: var(--main-red);
}
.grid-space .xp:last-child span:nth-child(2) {
    background-color: var(--main-blue);
}
.grid-space .xp:last-child span:nth-child(3) {
    background-color: var(--main-purple);
}
.grid-space .xp:last-child span:nth-child(4) {
    background-color: #00bc7d;
}
.grid-space .xp:last-child span:nth-child(5) {
    background-color: var(--main-orange);
}
.grid-space .xp:last-child span:nth-child(6) {
    background-color: #c10007;
}
/* end Featured Projects ===============================================*/
/* start Certifications ===============================================*/
.Certifications {
    padding-top: 40px;
    padding-bottom: 60px;
}
.Certifications .Certifications-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Certifications .slide {
    width: 80%;
    max-width: 885px;
    margin-top: 20px;
    padding: 20px;
    border: var(--main-border);
    border-radius: 15px;
    background-color: var(--main-background-color);
}
.Certifications .slide .fa-medal {
    color: rgb(203, 181, 7);
    padding-right: 9px;
    margin-bottom: 9px;
}
.Certifications .slide p:has(.fa-building-columns) {
    color: var(--main-gray);
    margin-bottom: 35px;
}
.Certifications .slide .fa-building-columns {
    padding-right: 5px;
}
.Certifications .slide p:has(.fa-medal) {
    font-size: 17px;
    font-weight: 400;
}
.Certifications .slide .fa-calendar {
    padding-left: 10px;
    padding-right: 19px;
}
.Certifications .slide span:nth-child(3) {
    display: block;
    margin-bottom: 9px;
}
.Certifications .slide span:not(:nth-child(3)) {
    display: inline-block;
    background-color: var(--main-bg-gray);
    padding: 3.9px 9px;
    font-size: 10.5px;
    border-radius: 10px;
    margin-bottom: 7px;
}
/* end Certifications  ===============================================*/
/* start Education  ===============================================*/
.Education {
    background-color: var(--main-background-color);
    padding: 40px 15px 60px 15px;
}
.Education .Education-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Education .Education-content .box {
    width: 70%;
    max-width: 870px;
    min-height: 440px;
    margin-top: 20px;
    padding: 25px;
    border: var(--main-border);
    border-left: 5px solid var(--main-edu-green);
    border-radius: 15px;
    position: relative;
}
.Education .Education-content .box .Gtime {
    position: absolute;
    right: 19px;
    top: 20px;
    text-align: end;
    line-height: 1.5;
    color: var(--main-gray);
    font-size: 14px;
}
.Education .Education-content .box .Gtime i {
    padding-right: 5px;
}
.Education .Education-content .box .Gtime p:last-child {
    color: var(--main-edu-green);
    font-size: 13px;
    font-weight: 500;
}
.Education .Education-content .box h4 {
    margin-bottom: 10px;
    font-size: 1.25rem;
    font-weight: 400;
}
.Education .Education-content .box h4 i {
    padding-right: 30px;
    color: var(--main-edu-green);
}
.Education .Education-content .box p:has(.fa-building-columns),
.Education .Education-content .box p:has(.fa-location-dot) {
    margin-bottom: 5px;
    color: var(--main-gray);
    font-size: 14px;
    
    font-weight: 500;
}
.Education .Education-content .box p:has(.fa-building-columns) i,
.Education .Education-content .box p:has(.fa-location-dot) i {
    padding-right: 20px;
}
.Education .Education-content .box .min-intro {
    color: var(--main-gray);
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.5;
    font-size: 14px;
}
.Education .Education-content .box .Highlights p {
    font-weight: 500;
}
.Education .Education-content .box .Highlights ul {
    display: inline-flex;
    flex-direction: column;
    margin: 12px clamp(30px, 140px, 190px) -8px 30px;
}
.Education .Education-content .box .Highlights ul li {
    padding: 5px;
    position: relative;
    list-style: none;
    -webkit-text-wrap: nowrap;
    text-wrap: nowrap;
}
.Education .Education-content .box .Highlights ul li::before {
    position: absolute;
    content: "\2022";
    color: var(--main-edu-green);
    font-size: 40px;
    top: -30%;
    left: -15px;
}
.Education .Education-content .box .final-Project {
    padding: 16px;
    color: var(--main-gray);
    background-color: var(--main-bg-darker);
    border-radius: 11px;
    margin-top: 20px;
}
.Education .Education-content .box .final-Project span {
    color: var(--main-text-color);
}
/* end Education  ===============================================*/
/* start Touch  ===============================================*/
.Touch {
    padding-top: 40px;
    padding-bottom: 60px;
    background-color: #121212;
}
.Touch .Touch-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Touch .Touch-content p {
    max-width: 50%;
    text-align: center;
    color: var(--main-gray);
    margin-top: -15px;
    margin-bottom: 30px;
}
.Touch .Touch-content .grid-box {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    gap: 20px;
}
.Touch .Touch-content .grid-box .Information {
    background-color: var(--main-background-color);
    padding: 15px;
    padding-left: 20px;
    border: var(--main-border);
    border-radius: 15px;
}
.Touch .Touch-content .grid-box .Information div {
    padding: 15px;
    padding-left: 45px;
    position: relative;
}
.Touch .Touch-content .grid-box .Information div a {
    display: block;
    text-decoration: none;
    color: var(--main-gray);
}
.Touch .Touch-content .grid-box .Information div i {
    position: absolute;
    top: 20%;
    left: 0;
    color: var(--main-blue);
    background-color: var(--main-linkedin-bg);
    width: 40px;
    padding: 10px;
    border-radius: var(--main-radius);
}
.Touch .Touch-content .grid-box .Information div:has(.fa-phone) i {
    background-color: var(--main-phone-bg);
    color: var(--main-phone-color);
}
.Touch .Touch-content .grid-box .Information div:has(.fa-location-dot) i {
    background-color: var(--main-location-bg);
    color: var(--main-location-color);
}
.Touch .Touch-content .grid-box .Information div a:hover {
    color: var(--main-text-color);
}
.Touch .Touch-content .grid-box .Information h4,
.Touch .Touch-content .grid-box .Connect,
.Touch .Touch-content .grid-box .Message h4 {
    font-weight: 500;
    font-size: 1.25rem;
    padding: 10px;
    padding-left: 0;
}
.Touch .Touch-content .grid-box .Connect {
    background-color: var(--main-background-color);
    padding: 20px;
    border: var(--main-border);
    border-radius: 15px;
    line-height: 2.6;
}
.Touch .Touch-content .grid-box .Connect h4 {
    line-height: 1.5;
    margin-bottom: 10px;
}
.Touch .Touch-content .grid-box .Connect i {
    border: var(--main-border);
    border-radius: 8px;
    width: 44px;
    height: 41px;
    padding: 10px;
}
.Touch .Touch-content .grid-box .Connect .fa-linkedin-in:hover {
    background-color: var(--main-linkedin-bg);
}
.Touch .Touch-content .grid-box .Connect .fa-github:hover {
    background-color: var(--main-github-bg);
}
.Message {
    background-color: var(--main-background-color);
    padding: 15px;
    border: var(--main-border);
    border-radius: 8px;
    grid-row: span 2;
}
.Message h4 {
    margin-bottom: 40px;
}
.Message > div {
    display: flex;
    gap: 5%;
}
.Message {
    margin-bottom: 5px;
    width: 100%;
}
.Message .info {
    display: inline;
    margin-right: 5px;
}
.Message .info input,
.Message .subject input,
textarea {
    background-color: #121212;
    border: var(--main-border);
    padding: 10px;
    border-radius: 8px;
    width: 47%;
    position: relative;
    color: var(--main-text-color);
    margin-bottom: 20px;
}
.Message .info input:focus,
textarea:focus,
.Message .subject input:focus {
    outline: none;
    box-shadow: 0 0 15px var(--main-gray);
}
.Message .info label,
.Message .subject label {
    position: absolute;
    translate: 3px -20px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
}
.Message .subject {
    margin-top: 15px;
}
.Message .subject input {
    outline: none;
    width: 100%;
}
.Message .subject textarea {
    width: 100%;
    resize: none;
    outline: none;
    height: 100px;
}
.Touch-content .grid-box button {
    width: 80%;
    margin-left: 10%;
    padding: 9px;
    background-image: var(--main-gradient);
    border-radius: 8px;
    border: 3px solid var(--main-background-color);
    color: var(--main-text-color);
    letter-spacing: 1px;
    font-size: 13px;
    overflow: hidden;
    cursor: pointer;
}
.Touch-content .grid-box button i {
    padding-right: 25px;
    translate: 0px 0px;
    transform: 1s;
}
/* end Touch  ===============================================*/
.footer {
    background-color: var(--main-background-color);
    padding: var(--main-footer-padding);
    color: var(--main-gray);
    border-top: 1px solid var(--main-gray);
}
/* ===============================-media-===================================== */
@media (max-width: 767px) {
    * {
        -webkit-user-select: none;
        user-select: none;
    }
    .head h1 {
        font-size: 35px;/
    }
    .header {
        padding: 20px 0;
    }
    .header h3 {
        margin: 0 auto 10px;
        padding: 0;
    }
    .header h3 {
        margin-bottom: 12px;
    }

    .header .box {
        display: block;
        text-align: center;
    }
    .header .box a {
        margin: 0;
        margin-left: 5px;
        font-size: clamp(10px, 4vw, 19px);
    }
    .Touch .Touch-content p {
        max-width: 90%;
    }
    .Touch .Touch-content .grid-box {
        display: block;
    }
    .Touch .Touch-content .grid-box > div {
        margin-bottom: 20px;
    }
    .Education .Education-content .box {
        width: 100%;
    }
    .section-title {
        font-size: 25px;
    }
    .sup-text {
        font-size: 16px;
        font-weight: 700;
    }
    .Experience .Experience-content h4 {
        font-size: 15px;
    }
    .Certifications .slide {
        width: 93%;
    }
    .head .image {
        width: 150px;
        height: 150px;
    }
    .Featured-box .card:hover {
    translate: 0 -10px;
}
    .Education .Education-content .box .Gtime {
        position: relative;
        text-align: start;
        padding: 0 0 14px 20px;
        margin-top: -19px;
    }
    .Education .Education-content .box p:has(.fa-building-columns) {
        line-height: 1.4;
    }
}

